dogcalendar.xcodeproj/project.xcworkspace/contents.xcworkspacedata
dogcalendar.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
dogcalendar.xcodeproj/project.xcworkspace/xcuserdata/stevenrockarts.xcuserdatad/UserInterfaceState.xcuserstate
dogcalendar.xcodeproj/project.xcworkspace/xcuserdata/stevenrockarts.xcuserdatad/xcdebugger/Expressions.xcexplist
dogcalendar.xcodeproj/xcuserdata/stevenrockarts.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
dogcalendar.xcodeproj/xcuserdata/stevenrockarts.xcuserdatad/xcschemes/xcschememanagement.plist
